@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
// Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// Update the sans-serif font family
$TAL-purple: #36023b;
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// TAL colour palette
$hero-background: #36023b;
// $hero-stripes: #f83281; #4d0843 gradient

// poppins font
$family-sans-serif: "Poppins", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #23D9D2;
$purple: #f83281;

$navbar-item-color: $white;

// navbar
// a .navbar-item {
//   color: white;
//   :hover {
//     color: $primary;
//   }
// }
// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

#mobile-navbar a.navbar-item {
  color: grey;
  font-weight: 500;
}

.navbar-burger {
  color: grey;
}

@include desktop {
  #mobile-navbar a.navbar-item {
    color: white;
  }

  #mobile-navbar a.navbar-item:hover {
    color: $primary;
  }
}

@include tablet {
  .hero-image {
    margin-top:-80%;
  }
}

.tag-line {
  margin-top:-8%;
}

.hero-image-wrapper {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
  }
}

.hero-with-full-image {
  @extend .hero;
  background-image: url("../public/images/hero-image.jpeg");
  margin-top: -$navbar-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.is-full-stripes {
  @extend .hero;
  background-image: url("../public/images/hero-stripes.png");
  margin-top: -$navbar-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $hero-background;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}
