@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
// Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// Update the sans-serif font family
$TAL-purple: #36023b;
// $family-sans-serif: "Helvetica", "Arial", sans-serif;

// TAL colour palette
$hero-background: #36023b;
// $hero-stripes: #f83281; #4d0843 gradient

// poppins font
$family-sans-serif: "Poppins", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #23D9D2;
$coral: #f83281;

$navbar-item-color: $white;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.is-coral {
  color: $coral;
}

#mobile-navbar a.navbar-item {
  color: grey;
  font-weight: 500;
}

.navbar-burger {
  color: grey;
}

@include desktop {
  #mobile-navbar a.navbar-item {
    color: white;
  }

  #mobile-navbar a.navbar-item:hover {
    color: $primary;
  }

  .section {
    padding: 3rem 6rem;
  }
}

@include tablet {
  .hero-image {
    margin-top:-120%;
  }
}

// .tag-line {
//   margin-top:-8%;
// }

.hero-image-wrapper {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
  }
}

.hero-wrapper {
  position: relative;
  margin-top: -$navbar-height;
}

.hero-angles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-7deg);
  transform-origin: 0;
  position: absolute;
  box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
  background: $TAL-purple;
}

.hero-stripes {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../public/images/hero-stripes.png") no-repeat center center fixed;
  // margin-top: -$navbar-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $hero-background;
}

.feature-tiles {
  .columns {
    align-items: stretch;
  }
  .is-xlarge {
    height: 4rem;
    width: 4rem;
  }
  p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.our-core-values {
  display: flex;

  @include mobile {
    .value-image {
      width: 0%;
    }
    .value-text {
      padding: 10%;
      flex: none;
      width: 100%;
      background-color: $primary;
    }
  }

  @include tablet {
    .value-image.learning-in-school {
      background: url("../public/images/learning-in-school.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      flex: none;
      width: 50%;
    }

    .value-image.football-match {
      background: url("../public/images/football-match.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      flex: none;
      width: 50%;
    }

    .value-text {
      padding: 10%;
      flex: none;
      width: 50%;
      background-color: $primary;
    }
  }
}

.feature {
  .feature-header {
    margin-bottom: 4rem;
  }
  h2 {
    font-weight: 400;
    color: black;
  }
  h3 {
    font-weight: 500;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}

// #8b8b8b 49%
// 139 0 .49
// .active-hub::before {
//   content: '';
//   display: block;
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0px;
//   left: 0px;
//   background: #003832;
//   // transform: skewY(-90deg);
//   z-index: -1;
// }

.active-hub {
  // background: linear-gradient(-45deg,rgba(139, 139, 139, 0.3), rgba(255, 255, 255, 1));
  background: linear-gradient(-15deg,rgba(139, 139, 139, 0.3), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  @include mobile {
    .feature-image {
      max-height: 40vh;
    }
  }
}

.browser-slider-wrapper {
  // background: url("../public/images/browser.png") top center no-repeat;
  // background-size: 100% 100%;
  border: 12px solid #eee;
  border-width: 14px 5px 5px 5px;
  border-radius: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;

  .browser-circle {
    border-radius: 3px;
    height: 3px;
    width: 3px;
    position: absolute;
    top: -10px;
  }
  .browser-circle.red {
    border: 3px #ff6259 solid;
    left: 0px;
  }
  .browser-circle.yellow {
    border: 3px #ffc02f solid;
    left: 8px;
  }
  .browser-circle.green {
    border: 3px #29ce42 solid;
    left: 16px;
  }
}

.feature {
  .feature-image {
    text-align: center;
    img {
      max-height: 40vh;
    }
  }

  .feature-descriptions {
    position:relative;

    .selector {
      color: #939c9e;
      cursor: pointer;
    }

    .selector.active {
      color: black;
    }

    .selector:hover {
      color: black;
    }

    @include mobile {
      p {
        margin-bottom: 1rem;
      }
    }
    @include tablet {
      p {
        margin-bottom: 2.5rem;
      }
    }

    // Portal features
    h3.management-at-scale::before {
      font-family: "Font Awesome 5 Free";
      content: "\F065";
      left: -1.25rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.set-challenges::before {
      font-family: "Font Awesome 5 Free";
      content: "\f6fc";
      left: -1.25rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.custom-reports::before {
      font-family: "Font Awesome 5 Free";
      content: "\f200";
      left: -1.25rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    // band features
    h3.activity-tracking::before {
      font-family: "Font Awesome 5 Free";
      content: "\f70c";
      left: -1.45rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.water-resistance::before {
      font-family: "Font Awesome 5 Free";
      content: "\f043";
      left: -1.45rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.battery-life::before {
      font-family: "Font Awesome 5 Free";
      content: "\f240";
      left: -1.45rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.bluetooth::before {
      font-family: "Font Awesome 5 Free";
      content: "\f1eb";
      left: -1.45rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.durable-strap::before {
      font-family: "Font Awesome 5 Free";
      content: "\f1ae";
      left: -1.45rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }

    h3.identity::before {
      font-family: "Font Awesome 5 Free";
      content: "\f505";
      left: -1.45rem;
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
    }
  }
}

.feature-body {
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
}

.kit-contents {
  .columns {
    align-items: baseline;
  }

  .kit-item {
    padding: 2rem;
    h2, p {
      text-align: left;
    }
    figcaption {
      margin-top: 2rem;
    }
  }

  .kit-item > div > img {
    max-height: 25vh;
  }
}

.activeband-slider-wrapper {
  background: url("../public/images/activeband-front.png") center center no-repeat;
  background-size: 80% 80%;
  background-size: contain;
  position: relative;

  .slick-slide img {
    margin: auto;
  }
}

@include mobile {
  .activeband-slider-wrapper {
    min-height: 300px;
  }

  .activeband-slider-wrapper > div {
    margin-top: 65px;
  }
}

@include tablet {
  .activeband-slider-wrapper > div {
    min-height: 50%;
    margin-top: -25%;
  }
}

.activeband-columns {
  flex-direction: row-reverse;

  // .column:nth-child(0) {
  //   order: 2;
  // }
  // .column:nth-child(1) {
  //   order: 1;
  // }
}

// .feature-background-right ::after {
//     content: '';
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     z-index: -1;
//     right: -65% !important;
//     position: absolute;
//     background: #14236E;
// }

// FOOTER
// footer {
//   position: relative;
//   .footer-content {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     transform: skewY(-7deg);
//     transform-origin: 0;
//     position: absolute;
//     box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
//     background: #36023b;
//     div {
//       position: relative;
//       height: 100%;
//       width: 100%;
//     }
//   }
// }
