@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
// Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// Update the sans-serif font family
$TAL-purple: #36023b;
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// TAL colour palette
$hero-background: #36023b;
// $hero-stripes: #f83281; #4d0843 gradient

// poppins font
$family-sans-serif: "Poppins", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #23D9D2;
$coral: #f83281;

$navbar-item-color: $white;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.is-coral {
  color: $coral;
}

#mobile-navbar a.navbar-item {
  color: grey;
  font-weight: 500;
}

.navbar-burger {
  color: grey;
}

@include desktop {
  #mobile-navbar a.navbar-item {
    color: white;
  }

  #mobile-navbar a.navbar-item:hover {
    color: $primary;
  }

  .section {
    padding: 3rem 6rem;
  }
}

@include tablet {
  .hero-image {
    margin-top:-80%;
  }
}

.tag-line {
  margin-top:-8%;
}

.hero-image-wrapper {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
  }
}

.hero-wrapper {
  position: relative;
  margin-top: -$navbar-height;
}

.hero-angles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-7deg);
  transform-origin: 0;
  position: absolute;
  box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
  background: $TAL-purple;
}

.hero-stripes {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../public/images/hero-stripes.png") no-repeat center center fixed;
  // margin-top: -$navbar-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $hero-background;
}

.feature {
  h2 {
    font-weight: 400;
    color: black;
  }
  h3 {
    font-weight: 500;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}

.browser-slider-wrapper {
  // background: url("../public/images/browser.png") top center no-repeat;
  // background-size: 100% 100%;
  border: 12px solid #eee;
  border-width: 14px 5px 5px 5px;
  border-radius: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;

  .browser-circle {
    border-radius: 3px;
    height: 3px;
    width: 3px;
    position: absolute;
    top: -10px;
  }
  .browser-circle.red {
    border: 3px #ff6259 solid;
    left: 0px;
  }
  .browser-circle.yellow {
    border: 3px #ffc02f solid;
    left: 8px;
  }
  .browser-circle.green {
    border: 3px #29ce42 solid;
    left: 16px;
  }
}

// .feature-background-right ::after {
//     content: '';
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     z-index: -1;
//     right: -65% !important;
//     position: absolute;
//     background: #14236E;
// }
