
<section class="section feature-tiles">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h2 class="is-coral">KEY FEATURES</h2>
        <h1 class="title">Empowering children to understand their health and wellbeing through data literacy</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1"><span class="icon is-xlarge"><img src="public/images/feature-icons/activity.svg"/></span>
        <p>Activity tracking & well-being</p>
      </div>
      <div class="column is-2"><span class="icon is-xlarge"><img src="public/images/feature-icons/hub.svg"/></span>
        <p>Interactive Classroom Hub</p>
      </div>
      <div class="column is-2"><span class="icon is-xlarge"><img src="public/images/feature-icons/avatar.svg"/></span>
        <p>Privacy Protecting Avatars</p>
      </div>
      <div class="column is-2"><span class="icon is-xlarge"><img src="public/images/feature-icons/challenge.svg"/></span>
        <p>Classroom Challenges</p>
      </div>
      <div class="column is-2"><span class="icon is-xlarge"><img src="public/images/feature-icons/data.svg"/></span>
        <p>Data insights & reporting</p>
      </div>
    </div>
  </div>
</section>