
<nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand"><a class="navbar-item" href="./"><img src="public/images/nav-logo-black.png" alt="Think Active written text logo"/></a><a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="mobile-navbar"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
    <div class="navbar-menu has-text-centered" id="mobile-navbar">
      <div class="navbar-start"><a class="navbar-item" href="#product">Product Overview</a><a class="navbar-item" href="#active-band">Active Band</a><a class="navbar-item" href="#active-hub">Active Hub</a><a class="navbar-item" href="#active-portal">Active Portal</a><a class="navbar-item" href="#features">Features</a><a class="navbar-item" href="#contact">Contact</a></div>
      <div class="navbar-end"></div>
    </div>
  </div>
</nav>