extends layout.pug

block body
  section.hero.is-medium.is-primary
    .hero-body
      .container
        .columns
          .column
            h1.title.is-2.is-spaced Contact Us
  section.section
    .container
      h1.title Get in touch
      h2.subtitle We're happy to chat