extends layout.pug

block body
  include components/hero-full-height.pug
  div.hero-wrapper
    div.hero-angles
      div.hero-stripes
    section.section.hero.is-medium
      .hero-body
        .container
          .columns
            .column.is-8
              h1.title.is-size-1.is-spaced.has-text-white.has-text-weight-bold An activity monitor with schools in mind
              a.button.is-primary Pre-order now

  section.section.hero-image-wrapper
    .container
      .columns
        .column.is-offset-8.is-4.is-offset-3-mobile.is-6-mobile
          .hero-image
            img(src="public/images/band-single.png")

  section.section.tag-line
    .container.has-text-centered
      .columns
        .column.is-8.is-offset-2
          h1.title Think Active. Be Active.
          h2.subtitle Solution Overview
          p Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.

  section.section.feature.active-hub
    .container
      .columns.is-vcentered
        .column.is-5
          h2.title Playful. But Safe.
          h3.subtitle.is-coral Pseudonymous avatars.
          p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
        .column.is-6.is-offset-1
          img.feature-image(src="public/images/avatars-activehub.png")

  //- section.section.our-core-values
  //-   .container
  //-     .columns
  //-       .column.is-7
  //-         figure.image.is-fullwidth
  //-           img(src="public/images/football-match.png")
  //-       .column.is-5
  //-         h2.title Activity at our core.
  //-         h3.subtitle Putting children’s health first, Think Active provides a fun and interactive means for children to learn more about their activity levels whilst improving data literacy in a safe and insightful environment.

  section.section.feature.kit-contents
    .container.has-text-centered
      .columns
        .column.is-12.is-vcentered
          h2.title What comes in the kit?
    .container
      .columns.has-text-centered.is-vcentered
        .column.is-4.kit-item
          img.feature-image(src="public/images/band-single.png")
        .column.is-4.kit-item
          img.feature-image(src="public/images/avatars-activehub.png")
        .column.is-4.kit-item
          div.browser-slider-wrapper
            div.browser-circle.red
            div.browser-circle.yellow
            div.browser-circle.green
            div
              img.feature-image(src="public/images/test1.png")
      .columns
        .column.is-4.kit-item
          h2.title Active Bands
          p Putting children’s health first, Think Active provides a fun and interactive means for children to learn more about their activity levels whilst improving data literacy in a safe and insightful environment.
        .column.is-4.kit-item
          h2.title Active Hub
          p Putting children’s health first, Think Active provides a fun and interactive means for children to learn more about their activity levels whilst improving data literacy in a safe and insightful environment.
        .column.is-4.kit-item
          h2.title Active Portal
          p Putting children’s health first, Think Active provides a fun and interactive means for children to learn more about their activity levels whilst improving data literacy in a safe and insightful environment.
  section.section.feature.feature-background-right
    .container
      .columns.is-vcentered
        .column.is-4
          h2.title Easy to deploy, manage and scale.
          h3.subtitle.is-coral Management Portal
          .feature-descriptions.is-portal
            .selector.active
              h3.management-at-scale Management at Scale
              p Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
            .selector
              h3.set-challenges Set Challenges
              p Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
            .selector
              h3.custom-reports Generate Custom Data Reports
              p Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
        .column.is-7.is-offset-1
          div.browser-slider-wrapper
            div.browser-circle.red
            div.browser-circle.yellow
            div.browser-circle.green
            div.browser-slider
              div
                img(src="public/images/test1.png")
              div
                img(src="public/images/test2.png")
              div
                img(src="public/images/test3.png")
  section.section.feature
    .container.has-text-centered
      .columns
        .column.is-12.is-vcentered
          h2.title Long lasting battery, invaluable insights.
    .container
      .columns.is-vcentered
        .column.is-5
          .feature-descriptions.is-activeband
            .selector.active
              h3 Water Resistant
              p We love water, just not in our electronics. The Active Band has been engineered to keep water out and data safe.
            .selector
              h3 24 hr Activity
              p We track activity, and only activity, all day and all night. Understand how to improve activity levels beyond the school day.
            .selector
              h3 14 Day Battery life*
              p Five days wasn’t good enough for us, so we eked a whopping 14 days out of our ActiveBand. Let the children complete challenges, not chargers.
        .column.is-2
          img(src="public/images/activeband-front.png")
        .column.is-5
          .feature-descriptions.is-activeband
            .selector
              h3 Wireless Syncing
              p No-wires, no docks, no waiting around. The ActiveHub silently and patiently syncs data from each band up to our secure servers.
            .selector
              h3 Durable Silicone strap
              p Designed to withstand even the most active of kids. Our straps are secure and comfortable.
            .selector
              h3 Always on avatar
              p Our playful avatars provide the children with an anonymous means to participate. Easily identifiable for the child but private.





