doctype html
html
  include components/head.pug
  body
    include components/navbar.pug
    .page-content
      section.hero.is-medium.is-primary
        .hero-body
          .container
            .columns
              .column.is-8-desktop.is-offset-2-desktop
                h1.title.is-2.is-spaced Think Active Product Site
      section.section
        .container
          h1.title Product Feature
          h2.subtitle Tagline of feature
      section.section
        .container
          h1.title Product Feature
          h2.subtitle Tagline of feature
    include components/footer.pug
    script(type="text/javascript" src="lib/main.js")