doctype html
html
  include components/head.pug
  body
    include components/navbar.pug
    section.hero.is-medium.is-primary
      .hero-body
        .container
          .columns
            .column.is-8-desktop.is-offset-2-desktop
              h1.title.is-2.is-spaced Think Active Product Site
    script(type="text/javascript" src="lib/main.js")