extends layout.pug

block body

  //- Hero Header start
  .hero-wrapper
    .new-hero-stripes-wrapper
      .new-hero-stripes
    section.hero
      .hero-body
        .container
          .columns
            .column.is-7
              img(src="public/images/activebands-falling.png" alt="three black active bands showing avatars and time")
            .column.is-5.header-text
              h1.title
                span Be Active.
                span Think Active.
              h2.subtitle.is-size-4 Activity tracking for children aged 7+ in the classroom
  //- //- Hero header end

  //- Key Features start
  include components/feature-tiles.pug
  //- Key Features end

  //- Avatars Start
  section.section.feature.active-hub
    .container
      .columns.is-vcentered
        .column.is-5
          h1.title
            span Developing
            span Healthier Lifestyles.
          p Think Active provides a fun and interactive means for children to learn more about their activity levels. We put children’s health first, improving data literacy in a safe and secure environment.
        .column.is-6.is-offset-1.has-text-centered
          img.feature-image(src="public/images/avatars-activehub.png" alt="Active Hub tablet where children sync their data")
  //- Avatars End

  //- Kit contents start
  section.section.feature.kit-contents
    .container.has-text-centered
      a.inline-nav(name="product")
      h1.title What comes in the kit?
    .container
      .columns
        .column.is-4.kit-item
          div
            img.centered(src="public/images/band-single.png" alt="Single Active Band activity tracker")
            figcaption
              h1.title
                span Active Bands
              p A tracker like no other, actually its pretty similar. Just with a water resistant design, durable strap, a fun avatar icon and a step counter. No biggie... oh and it lasts 14 days with 24/7 activity tracking.
        .column.is-4.kit-item
          div
            img.centered(src="public/images/avatars-activehub.png" alt="Active Hub where children can sync their data")
            figcaption
              h1.title
                span Active Hub
              p A focal point in the classroom for the children to congregate around. The ActiveHub lets the children answer health and nutritional questions, view their teams challenges and get motivated to be more active!
        .column.is-4.kit-item
          div
            div.browser-slider-wrapper
              div.browser-circle.red
              div.browser-circle.yellow
              div.browser-circle.green
              div
                img(src="public/images/test1.png" alt="Active Portal to organise your deployments, manage teams, and access data analytics")
            figcaption
              h1.title
                span Active Portal
              p Our comprehensive kit management solution. This portal lets you set challenges, manage deployments and manage your equipment. Each deployment's activity data is safely stored here to generate reports with our insights services.
  //- Kit contents end

  //- Core values (football) start
  div.our-core-values
    .value-image.designed-for-children
    .value-text
      h2.title Designed for Children
      h3.subtitle Our playful and interactive kit encourages kids to hit the next level together. We believe we can effect change through building a relationship between a child and their activity data.
  //- Core values (football) end

  //- ActiveBand hero start
  section.section.feature.activeband
    a.inline-nav(name="active-band")
    .container
      .columns.is-multiline
        .column.is-12
          h1.title
            span Active Band
          h2.subtitle Designed for children, no mobile phone required
        .column.is-6.order-2
          div.active-band-container
            div
              iframe(src="band_XR.65.html" allowfullscreen frameborder="0" scrolling="no")
              img(src="public/images/360-icon.png" alt="360 icon")
        .column.is-3.order-1
          .feature-descriptions.is-activeband
              h3.activity-tracking 24 hr Activity
              p We track activity levels (steps only) all day and all night. Understand how to improve activity levels beyond the school day.
              h3.identity Privacy Protecting Avatars
              p We believe data should be anonymised at source. Thats why we use avatars to identify your band and data. Its then up to you, who you share this with.
              h3.water-resistance Water Resistant
              p We love water, just not in our electronics. The Active Band has been engineered to keep water out and data safe.
        .column.is-3
          .feature-descriptions.is-activeband
              h3.bluetooth Wireless Syncing
              p No-wires, no docks, no waiting around. The ActiveHub silently syncs data from each band up to our secure servers.
              h3.durable-strap Made for Kids
              p Designed to withstand even the most active of kids. Our straps are secure, durable and comfortable.
              h3.battery-life 14 Day Battery Life*
              p Five days wasn’t good enough for us, so weeked a whopping 14 days out of our ActiveBand. Let the children complete challenges, not charges.
  //- ActiveBand hero end

  //- Core values (girl smiling) start
  div.our-core-values
    .value-text
      h2.title Privacy.
      h3.subtitle All our data is stored securely in our Think Active Cloud. We never store any identifiable information from children. You own your data – we provide services for you to make the most of it.
    .value-image.learning-in-school
  //- Core values (girl smiling) end

  //- Active Hub start
  section.section.feature.active-hub
    a.inline-nav(name="active-hub")
    .container
      .columns.is-vcentered
        .column.is-5
          h1.title
            span Active Hub
          h2.subtitle At home in the classroom, the social hub for data
          .feature-descriptions
              h3.syncing Distraction Free Syncing
              p Active Hub syncs in the background, no sync pads… Children can view their data on the Hub when they feel comfortable in groups or by themselves.
              h3.teams Teams
              p Re-energise the classroom with a bit a friendly competition. Red vs Blue,  Mr. Archer’s class vs Mrs. Briggs’ or year 3 vs year 4. Let the kids track their progress on the Active Hub and smash their goals.
              h3.private Personal & Private
              p The Active Band acts as a password to each child’s data. Only they can view their data whilst their Active Band is in range using a tap to confirm the action on their personal band.
        .column.is-6.is-offset-1.has-text-centered
          img.feature-image(src="public/images/avatars-activehub.png" alt="Avatars bursting out of Active Hub")
  //- Active Hub end

  //- Core values (football) start
  div.our-core-values
    .value-image.football-match
    .value-text
      h2.title Measure your impact.
      h3.subtitle Gain insights into activity levels in and out of school like never before. Think Active provides unrivalled child movement analytics, enabling your organisation to quantitively measure performance of interventions.
  //- Core values (football) end

  //- Portal slider start
  section.section.feature.feature-background-right
    a.inline-nav(name="active-portal")
    .container
      .columns.is-vcentered
        .column.is-4
          h1.title
            span Active Portal
          h2.subtitle Manage your deployments and gain insights to data
          .feature-descriptions.is-portal
            .selector.active
              h3.management-at-scale Management at Scale
              p Our unique Think Active Portal provides you with the tools to monitor, manage and monitor your deployed kits.
            .selector
              h3.set-challenges Set Challenges
              p Provide playful and enticing challenges to children, encouraging them to go the extra mile e.g. “Lets walk to the Moon!”, “Around the World in 20 days etc”.
            .selector
              h3.custom-reports Create Custom Reports
              p Build compelling insights from your deployment data. Evidence the impact of your interventions to funders and provide overviews to parents.
        .column.is-7.is-offset-1
          div.browser-slider-wrapper
            div.browser-circle.red
            div.browser-circle.yellow
            div.browser-circle.green
            div.browser-slider
              div
                img(src="public/images/test1.png" alt="Active Portal team management screen")
              div
                img(src="public/images/test2.png" alt="Active Portal organisation management screen")
              div
                img(src="public/images/test3.png" alt="Active Portal data insights screen")
  //- Portal slider end

  //- Why Think Active? start

  .think-active-benefits
    section.section
        a.inline-nav(name="features")
        .container.has-text-centered.feature
          .columns.feature-header
            .column.is-12.is-vcentered
              h1.title Why Buy Think Active?
        .container
          .columns
            .column.is-4
              h3.title
                span For Children
              h3.sub-heading Healthier & Happier
              p Through greater understanding of their activity levels we aim to provoke healthier lifestyles and happier children.
              h3.sub-heading Team Challenges
              p Encouraging children to work together to achieve their goals, helping out their friends and being more active together!
              h3.sub-heading Data Literacy
              p Learn about statistics and scientific analysis in a more engaging environment with personal data literacy materials.
            .column.is-4
              h3.title
                span For Teachers
              h3.sub-heading Minimal Distraction
              p Syncing of data is performed wirelessly in the background. No distractions means more time for you.
              h3.sub-heading New Teaching Materials
              p Teach science and statistics like never before with personal data sets and interactive reporting tools for use in lessons.
              h3.sub-heading Privacy Centric
              p Rest easy knowing that only teachers hold your child's identifiable data. No identifiable data is stored by us at Think Active.
            .column.is-4
              h3.title
                span For Organisations
              h3.sub-heading Access Funding
              p Our unrivalled insights services provide you with the impact assessment materials you need to win funding opportunities.
              h3.sub-heading Manage Deployments
              p Our unique Think Active Portal provides a means to orchestrate multiple deployments. Collating data from across your organisation.
              h3.sub-heading Stand Out From the Rest
              p Think Active is a truly unique proposition. Providing an engaging environment for kids to be more active. When included in your programs, you stand above the rest.
  //- Why Think Active? end

  .stripe-box
    div

  //- Subscribe
  a.inline-nav(name="contact")
  section.subscribe
    .container
      .columns.is-vcentered
        .column.is-6
          h1.title Subscribe here to keep updated on all Things Active!
          p Enter your email and we'll get in touch to let you know more.
        .column.is-6
          //- Begin Mailchimp Signup Form
          #mc_embed_signup
            form#mc-embedded-subscribe-form(action="https://thinkactivelabs.us5.list-manage.com/subscribe/post?u=c2b25b727beb0a433849f3c6a&amp;id=369466768b" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
              #mc_embed_signup_scroll
              .field.has-addons
                p.control.has-icons-left
                  input.input.is-medium(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Please enter your email address" required)
                  span.icon.is-small.is-left
                    i.fas.fa-envelope.fa-sm
                .control
                  input.is-medium.button(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")
              //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style="position: absolute; left: -5000px;" aria-hidden="true")
                input(type="text" name="b_c2b25b727beb0a433849f3c6a_369466768b" tabindex="-1" value="")

  section.footer-logos
    .container
      h2.subtitle We're proud to be from the North East
      a(href="https://newcastlehelix.com/" target="_blank")
        img(src="public/images/newcastle-helix.svg" alt="Newcastle Helix Logo with the words Newcastle Helix")
      img(src="public/images/mdae-in-north-east.svg" alt="North East Wall")





