extends layout.pug

block body
  include components/hero-full-height.pug
  //- Hero Header start
  div.hero-wrapper
    div.hero-angles
      div.hero-stripes
    section.section.hero.is-medium
      .hero-body
        .container
          .columns
            .column.is-8
              h1.title.is-size-1.is-spaced.has-text-white.has-text-weight-bold Think Active. Be Active.
              h2.subtitle.has-text-white The classroom based activity tracking solution for children 7+ and above.
              a.button.is-primary Pre-order now

  section.section.hero-image-wrapper
    .container
      .columns
        .column.is-offset-8.is-4.is-offset-3-mobile.is-6-mobile
          .hero-image
            img(src="public/images/band-single.png")
  //- Hero header end

  //- Tagline start
  //- section.section.tag-line
  //-   .container.has-text-centered
  //-     .columns

  //- Tagline end
  include components/feature-tiles
  //- Avatars Start
  section.section.feature.active-hub
    .container
      .columns.is-vcentered
        .column.is-5
          h1.title
            span Developing Healthier Lifestyles.
          p Think Active provides a fun and interactive means for children to learn more about their activity levels. We put children’s health first, improving data literacy in a safe and secure environment.
        .column.is-6.is-offset-1.has-text-centered
          img.feature-image(src="public/images/avatars-activehub.png")
  //- Avatars End

  //- Kit contents start
  section.section.feature.kit-contents
    .container.has-text-centered
      h2.title What comes in the kit?
    .container
      .columns
        .column.is-4.kit-item
          div
            img(src="public/images/band-single.png")
            figcaption
              h1.title
                span Active Bands
              p A tracker like no other,  actually its pretty similar. Just with a water resistant design, durable strap, a fun avatar icon and a step counter. No biggie... oh and it lasts 14 days with 24/7 activity tracking.
        .column.is-4.kit-item
          div
            img(src="public/images/avatars-activehub.png")
            figcaption
              h1.title
                span Active Hub
              p A focal point in the classroom for the children to congregate around. The ActiveHub lets the children answer health and nutritional questions, view their teams challenges and get motivated to be more active!
        .column.is-4.kit-item
          div
            div.browser-slider-wrapper
              div.browser-circle.red
              div.browser-circle.yellow
              div.browser-circle.green
              div
                img(src="public/images/test1.png")
            figcaption
              h1.title
                span Active Portal
              p Our comprehensive kit management solution. This portal lets you set challenges, manage deployments and manage your equipment. Each deployment's activity data is safely stored here to generate reports with our insights services.
  //- Kit contents end

  //- Core values (football) start
  div.our-core-values
    .value-image.football-match
    .value-text
      h2.title Designed for Children
      h3.subtitle Our playful and interactive kit encourages kids hit the next level together. Through building a relationship between a child and their activity data we believe we can effect change.
  //- Core values (football) end

  //- ActiveBand hero start
  section.section.feature.activeband
    .container
      .columns.is-multiline
        .column.is-12
          h1.title
            span Active Band
        .column.is-6.order-2
          div(style="max-width: 1920px; max-height: 1080px;")
            div(style="left: 0px; width: 100%; height: 0px; position: relative; padding-bottom: 56.25%; overflow: hidden;")
              iframe(src="band_XR.65.html" allowfullscreen style="position: absolute; top: 0px; left: 0px; height: 100%; width: 1px; min-width: 100%; *width: 100%;" frameborder="0" scrolling="no")
        .column.is-3.order-1
          .feature-descriptions.is-activeband
              h3.activity-tracking 24 hr Activity
              p We track activity, and only activity, all day and all night. Understand how to improve activity levels beyond the school day.
              h3.identity Privacy Protecting Avatars
              p Our playful avatars provide the children with an anonymous means to participate. Easily identifiable for the child but private.
              h3.water-resistance Water Resistant
              p We love water, just not in our electronics. The Active Band has been engineered to keep water out and data safe.
        .column.is-3
          .feature-descriptions.is-activeband
              h3.bluetooth Wireless Syncing
              p No-wires, no docks, no waiting around. The ActiveHub silently and patiently syncs data from each band up to our secure servers.
              h3.durable-strap Made for kids
              p Designed to withstand even the most active of kids. Our straps are secure and comfortable.
              h3.battery-life 14 Day Battery life*
              p Five days wasn't good enough for us, so we eked a whopping 14 days out of our ActiveBand. Let the children complete challenges, not chargers.
  //- ActiveBand hero end

  //- Core values (girl smiling) start
  div.our-core-values
    .value-text
      h2.title Measure your impact.
      h3.subtitle Gain insights into activity levels in and out of school like never before. Think Active provides unrivalled child health analytics, enabling your organisation to quantitively measure performance of interventions.
    .value-image.learning-in-school
  //- Core values (girl smiling) end

  //- Active Hub start
  section.section.feature.active-hub
    .container
      .columns.is-vcentered
        .column.is-5
          h1.title
            span Active Hub
          h2.subtitle At home in the classroom
          .feature-descriptions
              h3.syncing Distraction Free Syncing
              p Active Hub syncs in the background, no sync pads. Children can view their data on the Hub when they feel comfortable in groups or by themselves.
              h3.teams Teams
              p Re-energise the classroom with a bit a friendly competition. Red vs Blue,  Mr. Archer’s class vs Mrs. Briggs’ or year 3 vs year 4. Let the kids track their progress on the Active Hub and smash their goals.
              h3.private Personal & Private
              p The Active Band acts as a password to each child’s data. Only they can view their data with a tough to confirm the action on their personal band.
        .column.is-6.is-offset-1.has-text-centered
          img.feature-image(src="public/images/avatars-activehub.png")
  //- Active Hub end

  //- Core values (football) start
  div.our-core-values
    .value-image.football-match
    .value-text
      h2.title Designed for Children
      h3.subtitle Our playful and interactive kit encourages kids hit the next level together. Through building a relationship between a child and their activity data we believe we can effect change.
  //- Core values (football) end

  //- Portal slider start
  section.section.feature.feature-background-right
    .container
      .columns.is-vcentered
        .column.is-4
          h1.title
            span Active Portal
          h3.subtitle Who Said
          .feature-descriptions.is-portal
            .selector.active
              h3.management-at-scale Management at Scale
              p Our unique Think Active Portal provides a you with the tools to monitor, manage and observe your deployed kits
            .selector
              h3.set-challenges Set Challenges
              p Provide playful and enticing challenges to children, encouraging them to go the extra mile - "Lets walk to the Moon!", "Around the world in 20 days"
            .selector
              h3.custom-reports Create Custom Reports
              p Build compelling insights from your deployment data. Evidence the impact of your interventions to funders and provide overviews to parents.
        .column.is-7.is-offset-1
          div.browser-slider-wrapper
            div.browser-circle.red
            div.browser-circle.yellow
            div.browser-circle.green
            div.browser-slider
              div
                img(src="public/images/test1.png")
              div
                img(src="public/images/test2.png")
              div
                img(src="public/images/test3.png")
  //- Portal slider end

  //- Why Think Active? start
  section.section.think-active-benefits
    .container.has-text-centered.feature
      .columns.feature-header
        .column.is-12.is-vcentered
          h1.title Why Buy Think Active?
    .container
      .columns
        .column.is-4
          h3.title
            span For Children
          h3.sub-heading Healthier & Happier
          p Through greater understanding of their activity levels we aim to provide healthier lifestyles and happier children
          h3.sub-heading Team Challenges
          p Encouraging children to work together to achieve their goals, helping out their friends and being more active together!
          h3.sub-heading Data Literacy
          p Learn about statistics and scientific analysis in a more engaging environment with personal data literacy materials.
        .column.is-4
          h3.title
            span For Teachers
          h3.sub-heading Minimal Distraction
          p Syncing of data is performed wirelessly in the background. No distractions means more time for you.
          h3.sub-heading New Teaching Materials
          p Teach science and statistics like never before with personal data sets and interactive reporting tools for use in lessons.
          h3.sub-heading Privacy Centric
          p Rest easy knowing that no identifiable data is stored by Think Active.
        .column.is-4
          h3.title
            span For Organisations
          h3.sub-heading Access Funding
          p Our unrivalled insights services provide you with the impact assessment materials you need to win funding opportunities.
          h3.sub-heading Manage Deployments
          p Our unique Think Active Portal provides a means to orchestrate multiple deployments. Collating data from across your organisation.
          h3.sub-heading Stand out from the Rest
          p Think Active is a truly unique proposition. Providing an engaging environment for kids to be more active. Included in your programs you stand above the rest.
  //- Why Think Active? end





