extends layout.pug

block body
  include components/hero-full-height.pug
  div.hero-wrapper
    div.hero-angles
      div.hero-stripes
    section.section.hero.is-medium
      .hero-body
        .container
          .columns
            .column.is-8
              h1.title.is-size-1.is-spaced.has-text-white.has-text-weight-bold An activity monitor with schools in mind
              a.button.is-primary Pre-order now
  section.section.hero-image-wrapper
    .container
      .columns
        .column.is-offset-8.is-4.is-offset-3-mobile.is-6-mobile
          .hero-image
            img(src="public/images/band-single.png")
  section.section.tag-line
    .container.has-text-centered
      .columns
        .column.is-8.is-offset-2
          h1.title Think Active. Be Active.
          h2.subtitle Solution Overview
          p Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.
  //- include components/feature-tiles
  section.section.feature
    .container
      .columns.is-vcentered
        .column.is-6
          h2.title Playful. But Safe.
          h3.subtitle.is-coral Pseudonymous avatars.
          p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
        .column.is-6
          img.feature-image(src="public/images/avatars.png")
    //- include components/feature-item-right
  section.section.feature.feature-background-right
    .container
      .columns.is-vcentered
        .column.is-6
          h2.title Playful. But Safe.
          h3.subtitle.is-coral Pseudonymous avatars.
          p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
        .column.is-6
          div.browser-slider-wrapper
            div.browser-circle.red
            div.browser-circle.yellow
            div.browser-circle.green
            div.browser-slider
              div
                img(src="public/images/avatars.png")
              div
                img(src="public/images/avatars.png")
              div
                img(src="public/images/avatars.png")
              div
                img(src="public/images/avatars.png")

