doctype html
html
  include components/head.pug
  body
    include components/navbar.pug
    .page-content
      block body
    include components/footer.pug
    script(type="text/javascript" src="lib/main.js")
    script(type="text/javascript" src="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" crossorigin="anonymous")