doctype html
html
  include components/head.pug
  body
    include components/navbar.pug
    .page-content
      block body
    include components/footer.pug
    script(type="text/javascript" src="lib/main.js")
    script(type="text/javascript" src="https://kit.fontawesome.com/244f25007f.js" crossorigin="anonymous")