doctype html
html
  include components/head.pug
  body
    include components/navbar.pug
    .page-content
      block body
    include components/footer.pug
    script(type="text/javascript" src="lib/main.js")