section.section.feature-tiles
  .container.has-text-centered
    .columns
      .column.is-8.is-offset-2
          h2.is-coral KEY FEATURES
          h1.title Empowering children to understand their health and wellbeing through data literacy
    .columns
      .column.is-2.is-offset-1-tablet
        span.icon.is-xlarge
          img(src="public/images/feature-icons/activity.svg")
        p Activity tracking & well-being
      .column.is-2
        span.icon.is-xlarge
          img(src="public/images/feature-icons/hub.svg")
        p Interactive Classroom Hub
      .column.is-2
        span.icon.is-xlarge
          img(src="public/images/feature-icons/avatar.svg")
        p Privacy Protecting Avatars
      .column.is-2
        span.icon.is-xlarge
          img(src="public/images/feature-icons/challenge.svg")
        p Classroom Challenges
      .column.is-2
        span.icon.is-xlarge
          img(src="public/images/feature-icons/data.svg")
        p Data insights & reporting