section.section.feature-tiles
  .container.has-text-centered
    .columns
      .column.is-8.is-offset-2
          h2.title.is-4.is-coral KEY FEATURES
          h1.title Empowering children to understand their health and wellbeing through data literacy
    .columns.is-multiline.is-mobile
      .column.is-one-third-mobile.is-2-tablet.is-offset-1-tablet
        span.icon.is-xlarge
          img(src="public/images/feature-icons/activity.svg" alt="Running man to represent activity tracking")
        p Activity tracking & well-being
      .column.is-one-third-mobile.is-2-tablet
        span.icon.is-xlarge
          img(src="public/images/feature-icons/hub.svg" alt="Tablet showing graph data")
        p Interactive Classroom Hub
      .column.is-one-third-mobile.is-2-tablet
        span.icon.is-xlarge
          img(src="public/images/feature-icons/avatar.svg" alt="Lion outline representing childrens avatars")
        p Privacy Protecting Avatars
      .column.is-one-half-mobile.is-2-tablet
        span.icon.is-xlarge
          img(src="public/images/feature-icons/challenge.svg" alt="Mountain icon representing challenges")
        p Classroom Challenges
      .column.is-one-half-mobile.is-2-tablet
        span.icon.is-xlarge
          img(src="public/images/feature-icons/data.svg" alt="Graph showing upwards trend")
        p Data insights & reporting