footer.footer.has-text-centered
  .footer-content
    h3 Copyright © 2019 Think Active Labs Ltd.  The Core, Bath Lane, Newcastle Helix, Newcastle upon Tyne, NE4 5TF.
    h3 Registered in England No. 11877453.
