head
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-151450076-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-151450076-1');
  meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
  meta(content="utf-8" http-equiv="encoding")
  meta(chartset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="The activity tracking platform designed for schools. Think Active Kit enables children to use data to learn about their personal health and improve digital literacy skills in a privacy centric way.")
  meta(name="keywords" content="Think Active Labs, sports technology, activity tracking, activity tracker, children's fitness tracker, school health programme, data literacy, school fitness, e learning, children's health")
  title Think Active Kit - The activity tracking solution designed for schools
  meta(name="title" content="Think Active Kit - The activity tracking solution designed for schools")
  meta(property="og:locale" content="en_EN")
  meta(property="og:title" content="Think Active Kit - The activity tracking solution designed for schools")
  meta(property="og:url" content="https://thinkactivekit.com")
  meta(property="og:type" content="website")
  meta(property="og:description" content="The activity tracking platform designed for schools. Think Active Kit enables children to use data to learn about their personal health and improve digital literacy skills in a privacy centric way.")
  meta(property="og:image" content="https://thinkactivekit.com/public/images/avatars-activehub.png")
  meta(property="og:site_name" content="Think Active Kit")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous")
  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/slick.css")
  link(rel="stylesheet" href="css/slick-theme.css")
  link(rel="shortcut icon" href="public/images/favicon.png")
  link(rel="apple-touch-icon" href="public/images/favicon.png")