nav.navbar.has-shadow.is-fixed-top(role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item(href="./")
        img(src="public/images/nav-logo-black.png" alt="Think Active written text logo")
      a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="mobile-navbar")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")

    #mobile-navbar.navbar-menu.has-text-centered
      .navbar-start
        a.navbar-item(href="#product") Overview
        a.navbar-item(href="#active-band") Active Band
        a.navbar-item(href="#active-hub") Active Hub
        a.navbar-item(href="#active-portal") Active Portal
        a.navbar-item(href="#features") Features
        a.navbar-item(href="#contact") Contact
      .navbar-end
        //- a.navbar-item Link
        //- a.navbar-item Link