nav.navbar.has-shadow.is-fixed-top(role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item(href="./index.html")
        img(src="public/images/nav-logo-black.png")
      a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="mobile-navbar")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")

    #mobile-navbar.navbar-menu.has-text-centered
      .navbar-start
        a.navbar-item(href="index.html") Home
        a.navbar-item About
        a.navbar-item(href="contact.html") Contact
      .navbar-end
        a.navbar-item Link
        a.navbar-item Link