nav.navbar(role="navigation" aria-label="main navigation")
  .navbar-brand
    a.navbar-item(href="https://thinkactivelabs.co.uk")
      img(src="public/images/tal-small-white.svg" width="112" height="28")
    a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mobile-navbar")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  #mobile-navbar.navbar-menu
    .navbar-start
      a.navbar-item Home
      a.navbar-item About
      a.navbar-item Contact
    .navbar-end
      a.navbar-item Link
      a.navbar-item Link